{% extends "core/base.html" %}

{% block title %}{{ item.name }}{% endblock  %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{item.image.url}}" class="rounded-xl w-[770px] h-[480px]">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{item.name}} <h1>
        <p class="text-gray-500"><strong>Price: </strong> ${{item.price}}</p><br>
        {% if request.user == item.created_by%}
            <p class="text-gray-500"><strong>Seller: </strong> You </p><br>
        {% else %}
            <p class="text-gray-500"><strong>Seller: </strong> {{item.created_by.username}}</p><br>
        {% endif %}
        {% if item.description%}
            <p class="text-gray-700">
                <strong class = "text-gray-500">Description:</strong><br>
                {{item.description}}
            </p>
        {% endif %}
        <br> 
        {% if request.user == item.created_by%}
            <div class=  "py-4 rounded-xl">
                <a href="{%url 'item:edit' item.id%}" class=" py-2.5 px-5 me-2 mb-2 text-sm font-medium text-white focus:outline-none bg-blue-700 hover:bg-blue-800 rounded-lg border border-gray-200 focus:z-10 focus:ring-4 focus:ring-gray-200 text-center">
                    Edit Item 
                </a>
                <a href="{%url 'item:delete' item.id%}" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                    Delete Item
                </a>
                <!--Add a delete confirmation pop-up here. Views and urls already done and template from already ready in "confirmation.html" if required.Just need to figure out a way through which we get the confirmation from user before deleting the item.-->
            </div>
        {% else %}
            <a  href="{%url 'conversation:new' item.id%}" class=" py-2.5 px-5 me-2 mb-2 text-sm font-medium text-white focus:outline-none bg-blue-700 hover:bg-blue-800 rounded-lg border border-gray-200 focus:z-10 focus:ring-4 focus:ring-gray-200 text-center">
                Contact Seller
            </a>
        {% endif %}
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl font-semibold text-center">Related items<h2>
        <div class="grid grid-cols-3 gap-3">
            {% for item in related_items %}
                <div>
                    <a href ="{% url 'item:detail' item.id%}">
                        <div>
                            <img src="{{item.image.url}}" alt="{{item.name}}" class="rounded-t-xl text-l w-[470px] h-[280px]">
                        </div>
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-xl">{{item.name}}</h2> 
                            <p class="text-gray-500">${{item.price}}</p>
                        </div>
                    </a>
                </div>   
            {% endfor %}         
        </div>    
    </div>
{% endblock  %}