{% extends 'core/base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}

<div class="bg-gray-900 p-6 min-h-screen flex items-center justify-center">

    <div class="w-full sm:w-11/12 md:w-3/4 lg:w-2/3 xl:w-1/2 border border-gray-200 rounded-lg p-8 shadow bg-gray-800 dark:border-gray-700 hover:shadow-md transition-shadow">

        <p class="text-white">
            <span class="text-2xl font-bold">Tradeplaza Privacy Policy</span>
            <br>
            <span class="text-sm">Effective Date: 19/01/2027</span>
        </p>

        <p class="text-gray-300 mt-4">
            Welcome to Tradeplaza, operated by Raxxy. This Privacy Policy is designed to help you understand how we collect, use, disclose, and safeguard your personal information. By using Tradeplaza and its services, you consent to the practices described in this Privacy Policy.
        </p>

        <p class="text-gray-300 mt-4">
            <span class="font-bold">Information We Collect:</span>
        </p>

        <p class="text-gray-300 ml-4 mt-2">
            <span class="font-bold">Personal Information:</span>
            <br>
            When you create an account on Tradeplaza, we collect information such as your name, email address, and other contact details. To facilitate transactions, we may collect billing and shipping information. If you choose to connect your social media accounts, we may collect information from those accounts.
        </p>

        <p class="text-gray-300 ml-4 mt-2">
            <span class="font-bold">Transactional Information:</span>
            <br>
            We collect details related to your transactions on Tradeplaza, including the products or services you purchase, payment details, and shipping information.
        </p>

        <p class="text-gray-300 ml-4 mt-2">
            <span class="font-bold">Technical Information:</span>
            <br>
            When you access Tradeplaza, we automatically collect information about your device, browser, IP address, and usage patterns through cookies and similar technologies.
        </p>

        <p class="text-gray-300 mt-4">
            <span class="font-bold">How We Use Your Information:</span>
        </p>

        <p class="text-gray-300 ml-4 mt-2">
            <span class="font-bold">To Provide and Improve Services:</span>
            <br>
            We use your information to process transactions, provide customer support, and improve our services.
        </p>

        <p class="text-gray-300 ml-4 mt-2">
            <span class="font-bold">Communication:</span>
            <br>
            We may use your contact information to send you updates about your transactions, promotional offers, and newsletters. You can opt-out of promotional communications at any time.
        </p>

        <p class="text-gray-300 ml-4 mt-2">
            <span class="font-bold">Security and Fraud Prevention:</span>
            <br>
            We use your information to monitor and prevent fraud, unauthorized access, and other illegal activities.
        </p>

        <p class="text-gray-300 ml-4 mt-2">
            <span class="font-bold">Personalization:</span>
            <br>
            We may use your information to personalize your experience on Tradeplaza, including displaying relevant content and recommendations.
        </p>

        <p class="text-gray-300 ml-4 mt-2">
            <span class="font-bold">Legal Compliance:</span>
            <br>
            We may use and disclose your information to comply with legal obligations, resolve disputes, and enforce agreements.
        </p>

        <p class="text-gray-300 mt-4">
            <span class="font-bold">How We Share Your Information:</span>
        </p>

        <p class="text-gray-300 ml-4 mt-2">
            <span class="font-bold">Third-Party Service Providers:</span>
            <br>
            We may share your information with third-party service providers who assist us in providing and improving our services.
        </p>

        <p class="text-gray-300 ml-4 mt-2">
            <span class="font-bold">Business Partners:</span>
            <br>
            We may share information with business partners for joint promotions or collaborations.
        </p>

        <p class="text-gray-300 ml-4 mt-2">
            <span class="font-bold">Legal Requirements:</span>
            <br>
            We may disclose your information in response to legal requests, court orders, or government regulations.
        </p>

        <p class="text-gray-300 mt-4">
            <span class="font-bold">Your Choices:</span>
        </p>

        <p class="text-gray-300 ml-4 mt-2">
            <span class="font-bold">Account Information:</span>
            <br>
            You can review and update your account information at any time by logging into your Tradeplaza account.
        </p>

        <p class="text-gray-300 ml-4 mt-2">
            <span class="font-bold">Cookies:</span>
            <br>
            You can manage your cookie preferences through your browser settings.
        </p>

        <p class="text-gray-300 ml-4 mt-2">
            <span class="font-bold">Marketing Communications:</span>
            <br>
            You can opt-out of receiving promotional communications by following the instructions in the communication or contacting us.
        </p>

        <p class="text-gray-300 ml-4 mt-2">
            <span class="font-bold">Security:</span>
            <br>
            We take reasonable measures to protect your information from unauthorized access, disclosure, alteration, and destruction. However, no data transmission over the internet is completely secure, and we cannot guarantee the security of your information.
        </p>

        <p class="text-gray-300 mt-4">
            <span class="font-bold">Changes to this Privacy Policy:</span>
            <br>
            We may update this Privacy Policy periodically to reflect changes in our practices. We will notify you of any significant changes by posting the updated Privacy Policy on Tradeplaza.
        </p>

        <p class="text-gray-300 mt-4">
            <span class="font-bold">Contact Us:</span>
            <br>
            If you have any questions or concerns about this Privacy Policy, please contact us <a target="_blank" href="https://github.com/raaxxy"
            class="hover:underline text-red-500">here</a>.
        </p>

        <p class="text-gray-300 mt-4">
            Thank you for choosing Tradeplaza!
        </p>

    </div>

</div>
{% endblock  %}

